/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Noto Sans, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

header, nav, main, footer {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #636dfa;
    color: #f0f0f0;
    text-align: left;
    padding: 20px 2em;
    padding-left: 2em; /* Add left padding */
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main section {
    margin-bottom: 20px;
}

footer {
    background-color: #636dfa;
    color: #f0f0f0;
    text-align: center;
    clear: both;
}
